.error-view {
  text-align: center;
  padding: 4rem 1rem;
  color: var(--color-blue-dark);
}

.error-code {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.back-btn {
  justify-content: center;
}
